<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>F1</filter-name>
        <filter-class>Lab9.F1</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F1</filter-name>
        <url-pattern>/CCC.j</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>F3</filter-name>
        <filter-class>Lab9.F3</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F3</filter-name>
        <url-pattern>/CCC.j</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>F4</filter-name>
        <filter-class>Lab9.F4</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F4</filter-name>
        <url-pattern>/CCC.j</url-pattern>
    </filter-mapping>
        <filter>
        <filter-name>F2</filter-name>
        <filter-class>Lab9.F2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>F2</filter-name>
        <url-pattern>/CCC.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>Lab9.L1</listener-class>
    </listener>
    <listener>
        <listener-class>Lab9.L2</listener-class>
    </listener>
    <listener>
        <listener-class>Lab9.L3</listener-class>
    </listener>
    <servlet>
        <servlet-name>CCC</servlet-name>
        <servlet-class>Lab9.CCC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CCC</servlet-name>
        <url-pattern>/CCC.j</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DDD</servlet-name>
        <servlet-class>Lab6.DDD</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DDD</servlet-name>
        <url-pattern>/DDD</url-pattern>
    </servlet-mapping>
</web-app>
